nav {

  /* text-align: center;
  position: fixed;
  top: 0;
  width: 100%;

  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size:1.5rem;
  z-index: 1; */
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}




#landing{
  /* padding-top:2.5em; */
  background-image: url("../public/background.svg");
  background-color: white;
 
}
#logo{
  border-radius: 50% 50%
}


#howitworksbox{
  background-image: url("../public/background2.svg");
  
}

.backgroundImage1 {
  background-image: url("../public/background.svg");
}
.backgroundImage2 {
  background-image: url("../public/background2.svg");
}
.backgroundImage3{
  background-image: url("../public/background3.svg");
}
/* #bottomNav{
  background-image: url("../public/bottomNav.svg");
  
} */
.logo{
  font-size: 2em;
  padding: 0 1em;

}
section {
  margin:0;
  /* height:100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; 
  
}


#heroContianer {
  display:flex;
  align-content: center;
  
}
#hero-title{
  font-size: 2em;  
}

#heroText{
  width:50vw;
  /* padding: 100px; */

}
#heroImage{
  width:50vw;
  height:30vh;
  
}
h1{
  font-size:3rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}



#download-wrap{
  display:flex;
  align-items: center;
}
#about {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#tabbox{
  justify-content: space-evenly;

  height: 100%
  
}
#hero-title{
  
}
#hero-slogan{
  width:85%;
  line-height: 2;

}
#heroImageContainer{
  display:flex;
  margin:auto;
  align-content: center;

}


.roller {
  display: flex;
  overflow: hidden;
  height: 70px;
  position: relative;
}
.roller #rolltext{
  position:absolute;
  top: 0;
  animation: slide 5s infinite;

}
@keyframes slide {
  0%{
    top:0
  }
  33%{
    top:-100%
  }
  66%{
    top:-200%
  }
}

#about-box{
  display: flex;
  column-gap: 50px;
  width:60vw;
  padding:2rem;
  border-radius: 23% 77% 19% 81% / 70% 33% 67% 30%;
}

#beansvg{
  position:absolute;
  z-index: -1;
  transform: rotate(70deg);
  right:0;
  width:600px
}

.header h2 {
  margin: 0.5rem 0 ;
  font-size: 40px;
}

#bottom-nav{
  color:white;
}
#bottom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#bottom-nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;}

.button {
  --outline: var(--pink);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  
  &--white {

    --shadowColor: rgb(255 255 255 / 30%);
    --outline: #fff;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px lightslategrey;
  }

  /* &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--outline);
  } */
}



.bluebg{
background-color: #89cff0;

}

#hero-perks{
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100%;
  /* Full width of its parent */
  white-space: nowrap;
}

#hero-perks h1:nth-child(1){
  position:absolute;
  width:auto;
  height:100%;
  text-align: center;
  transform:translateX(100%);
  animation:scroll-right 30s linear infinite
}
#hero-perks h1:nth-child(2){
  position:absolute;
  width:auto;
  height:100%;
  text-align: center;
  animation:scroll-right2 30s linear infinite
  
}
#hero-perks h1:nth-child(3){
  position:absolute;
  width:auto;
  height:100%;
  text-align: center;
  animation:scroll-right3 30s linear infinite
  
}
#marque-text{
  transform: translateX(-100%);
}
@keyframes scroll-right{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translate(-100%);
  }
}


@keyframes scroll-right2{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translate(-200%);
    }
  }

  @keyframes scroll-right3{
    0%{
      transform: translateX(200%);
    }
    100%{
      transform: translate(0%);
    }
  }

  #adminPage #bottomNav{
    background-color: #23170D;
  }

  #homePage #bottomNav{
    background-color:"#3E230F";
  }



#contactUs{
  background-image: url("../public/gradient-background.svg");
}


.scrollanimation div:nth-child(1) {
  animation:scroll-right1 20s linear infinite
}
.scrollanimation div:nth-child(2) {
  animation:scroll-right2 20s linear infinite
}
.scrollanimation div:nth-child(3) {
  animation:scroll-right3 20s linear infinite
}

.dotted-bg{
--dot-bg: #ffffff;
--dot-color: grey;
--dot-size: 2px;
--dot-space: 20px;
background:
  linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  var(--dot-color);
}

.grid-bg{
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  
}

.underlined {
  /*   background: red; */
    position: relative;
  }
  
  .underline-mask:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(280 80% 50%);
    /* Use a conic gradient mask to hide and show the bits you want */
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
  }
  
  
  .underline-overflow {
    display: inline-block;
    /* A little extra padding and overflow hidden   */
    overflow: hidden;
    padding-bottom: clamp(1rem, 2vmin, 2rem);
  }
  .underline-overflow:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 150%;
    aspect-ratio: 2.5 / 1;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
    border: 6px solid hsl(10 80% 50%);
  }
  
  .underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(130 80% 50%);
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
  }